.no-country {
    background-image: url('../../assets/images/map2.png');
    width: 100%;
    height: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
}
