@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/nunito.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nunito';
}
.project-container {
    min-height: 100vh;
    padding: 30px 50px;

    .content-wrapper {
        max-width: 700px;
        margin: auto;

        h1 {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
            font-weight: bold;
        }

        .inputs-container {
            display: grid;

            .search-bar {
                grid-column: 1;
                grid-row: 1;
            }
            .region-selector {
                grid-column: 2;
                grid-row: 1;
                margin-left: auto;
            }
        }
    }

    .result-container {
        display: grid;
        position: relative;
        z-index: -1;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 40px;
    }
}

@media (max-width: 800px) {
    .project-container {
        .content-wrapper {
            .inputs-container {
                display: grid;
                gap: 10px;
                .search-bar {
                    grid-column: 1;
                    grid-row: 1;
                }
                .region-selector {
                    grid-column: 1;
                    grid-row: 2;
                    margin-left: unset;
                    width: 100% !important;
                    .koum-input {
                        width: 100% !important;
                    }
                }
            }
        }
        .result-container {
            display: grid;
            position: relative;
            z-index: -1;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 40px;
        }
    }
}

@media (max-width: 500px) {
    .project-container {
        padding: 30px 20px;
        .content-wrapper {
            .inputs-container {
                .search-bar {
                }
                .region-selector {
                    .koum-input {
                    }
                }
            }
        }
        .result-container {
            display: grid;
            position: relative;
            z-index: -1;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            margin-top: 40px;
        }
    }
}
